<div class="container about-company-img-block about-company-top-img">

{#		<img src="image/catalog/about-company.png" class="about-company-top-img">#}

		{% if current_lang == "uk-ua" %}
			<h2 class="about-company-title">Про компанію</h2>
		{% endif %}
		{% if current_lang == "ru-ru" %}
			<h2 class="about-company-title">О компании</h2>
		{% endif %}
		{% if current_lang == "en-gb" %}
			<h2 class="about-company-title">About Our Company</h2>
		{% endif %}

</div>



