<div class="container about-company-container">

    <img src="image/catalog/about-company-block-2.png" class="about-company-centerblock-img">

	{% if current_lang == "uk-ua" %}
		<h2 class="about-company-block2-title">Wonder - це:</h2>
	{% endif %}
	{% if current_lang == "ru-ru" %}
		<h2 class="about-company-block2-title">Wonder - это:</h2>
	{% endif %}
	{% if current_lang == "en-gb" %}
		<h2 class="about-company-block2-title">Wonder is:</h2>
	{% endif %}

		<div class="row  wonder-is-block">
			<div class="col-lg-2 col-md-2 col-sm-5 col-xs-10 wonder-is-col">
				<div class="wonder-is-col-img-block">
					<img src="image/catalog/handle.png" class="wonder-is-col-img">
				</div>
				{% if current_lang == "uk-ua" %}
					<h5 class="wonder-is-col-h5">Завжди нові продукти</h5>
					<p class="wonder-is-col-p">Виготовляємо лише ті добрива, якими пишаємося. В основі продукції WONDER - якісна сировина від найкращих світових виробників, ми враховуємо специфіку будь-яких грунтів, їхню потребу в макро- та мікроелементах.</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<h5 class="wonder-is-col-h5">Всегда новые продукты</h5>
					<p class="wonder-is-col-p">Изготавливаем только те удобрения, которыми гордимся. В основе продукции WONDER - качественное сырье от лучших мировых производителей, мы учитываем специфику любых почв, их потребность в макро- и микроэлементах.</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<h5 class="wonder-is-col-h5">Always new products</h5>
					<p class="wonder-is-col-p">We make only those fertilizers that we are proud of. At the heart of WONDER products - quality raw materials from the world's best manufacturers, we take into account the specifics of any soil, their need for macro-and micronutrients.</p>
				{% endif %}
			</div>
			<div class="col-lg-2 col-md-2 col-sm-5 col-xs-10 wonder-is-col">
				<div class="wonder-is-col-img-block">
					<img src="image/catalog/people.png" class="wonder-is-col-img">
				</div>
				{% if current_lang == "uk-ua" %}
					<h5 class="wonder-is-col-h5">Команда професіоналів</h5>
					<p class="wonder-is-col-p">Успіх компанії є результатом спільних дій кожного. Впродовж двох років ми формували команду фахівців, де працівник заряджений на позитив та зацікавлений у кінцевому результаті. Нам важливо, аби добриво було якісним, а клієнт - наш партнер, задоволеним.</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<h5 class="wonder-is-col-h5">Команда профессионалов</h5>
					<p class="wonder-is-col-p">Успех компании является результатом совместных действий каждого. В течение двух лет мы формировали команду специалистов, где работник заряжен на позитив и заинтересован в конечном результате. Нам важно, чтобы удобрение было качественным, а клиент - наш партнер, доволен.</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<h5 class="wonder-is-col-h5">The team of professionals</h5>
					<p class="wonder-is-col-p">The success of the company is the result of joint actions of everyone. For two years we have formed a team of specialists, where the employee is positive and interested in the end result. It is important to us that the fertilizer is of high quality and the client is our partner, satisfied.</p>
				{% endif %}
			</div>
			<div class="col-lg-2 col-md-2 col-sm-5 col-xs-10 wonder-is-col">
				<div class="wonder-is-col-img-block">
					<img src="image/catalog/winner.png" class="wonder-is-col-img">
				</div>
				{% if current_lang == "uk-ua" %}
					<h5 class="wonder-is-col-h5">Якісний врожай</h5>
					<p class="wonder-is-col-p">Продукція WONDER спрямована на підвищення якості врожаю: ретельно враховуємо особливості живлення тих чи інших культур, їхню потребу в макро- та мікроелементах на різних етапах вегетації.</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<h5 class="wonder-is-col-h5">Качественный урожай</h5>
					<p class="wonder-is-col-p">Продукция WONDER направлена на повышение качества урожая: тщательно учитываем особенности питания тех или иных культур, их потребность в макро- и микроэлементах на разных этапах вегетации.</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<h5 class="wonder-is-col-h5">Quality harvest</h5>
					<p class="wonder-is-col-p">WONDER products are aimed at improving the quality of the crop: we carefully take into account the peculiarities of nutrition of certain crops, their need for macro-and micronutrients at different stages of the growing season.</p>
				{% endif %}
			</div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-10 wonder-is-col">
				<div class="wonder-is-col-img-block">
					<img src="image/catalog/award.png" class="wonder-is-col-img">
				</div>
                {% if current_lang == "uk-ua" %}
					<h5 class="wonder-is-col-h5">Гарантія якості</h5>
					<p class="wonder-is-col-p">Виробництво добрив керується лінією автоматизації, а якість продукту підтверджується у сучасній лабораторії кваліфікованими технологами-хіміками.</p>
                {% endif %}
                {% if current_lang == "ru-ru" %}
					<h5 class="wonder-is-col-h5">Грантия качества</h5>
					<p class="wonder-is-col-p">Производство удобрений руководствуется линией автоматизации, а качество продукта подтверждается в современной лаборатории квалифицированными технологами-химиками.</p>
                {% endif %}
                {% if current_lang == "en-gb" %}
					<h5 class="wonder-is-col-h5">Quality guarantee</h5>
					<p class="wonder-is-col-p">Fertilizer production is controlled by an automation line, and the quality of the product is confirmed in a modern laboratory by qualified chemists.</p>
                {% endif %}
            </div>
		</div>

</div>



