<div class="container our-advantages-block">
		{% if current_lang == "uk-ua" %}
			<h2 class="about-company">Наші переваги</h2>
		{% endif %}
		{% if current_lang == "ru-ru" %}
			<h2 class="about-company">Наши преимущества</h2>
		{% endif %}
		{% if current_lang == "en-gb" %}
			<h2 class="about-company">Our advantages</h2>
		{% endif %}

		<div class="row our-advantages">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<img src="catalog/view/theme/opencartforumcom/image/rectangle.png" class="rectangle-advantage">
				<img src="catalog/view/theme/opencartforumcom/image/Framead1.png" class="advantage-1">
				{% if current_lang == "uk-ua" %}
					<p class="text-advantage-1">Якісна сировина для добрив від найкращих світових виробників</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<p class="text-advantage-1">Качественное сырье для удобрений от лучших мировых производителей</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<p class="text-advantage-1">Quality raw materials for fertilizers from the world's best manufacturers</p>
				{% endif %}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<img src="catalog/view/theme/opencartforumcom/image/rectangle.png" class="rectangle-advantage">
				<img src="catalog/view/theme/opencartforumcom/image/Framead2.png" class="advantage-2">
				{% if current_lang == "uk-ua" %}
					<p class="text-advantage-2">Завжди нові продукти та актуальні галузеві новинки</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<p class="text-advantage-2">Всегда новые продукты и актуальные отраслевые новинки</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<p class="text-advantage-2">Always new products and current industry innovations</p>
				{% endif %}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<img src="catalog/view/theme/opencartforumcom/image/rectangle.png" class="rectangle-advantage">
				<img src="catalog/view/theme/opencartforumcom/image/Framead3.png" class="advantage-3">
				{% if current_lang == "uk-ua" %}
					<p class="text-advantage-3">Високотехнологічне обладнання від кращих світових виробників</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<p class="text-advantage-3">Высокотехнологичное оборудование от лучших мировых производителей</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<p class="text-advantage-3">High-tech equipment from the world's best manufacturers</p>
				{% endif %}
			</div>
		</div>

		<div class="row our-advantages">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<img src="catalog/view/theme/opencartforumcom/image/rectangle.png" class="rectangle-advantage">
				<img src="catalog/view/theme/opencartforumcom/image/Framead4.png" class="advantage-4">
				{% if current_lang == "uk-ua" %}
					<p class="text-advantage-4">Команда професіоналів - працюємо на успішний результат</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<p class="text-advantage-4">Команда профессионалов - работаем на благоприятный исход</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<p class="text-advantage-4">A team of professionals - we work for a successful result</p>
				{% endif %}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<img src="catalog/view/theme/opencartforumcom/image/rectangle.png" class="rectangle-advantage">
				<img src="catalog/view/theme/opencartforumcom/image/Framead5.png" class="advantage-5">
				{% if current_lang == "uk-ua" %}
					<p class="text-advantage-5">Власна лабораторія для перевірки якості продукції експертами-технологами</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<p class="text-advantage-5">Собственная лаборатория для проверки качества продукции экспертами-технологами</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<p class="text-advantage-5">Own laboratory for product quality control by expert technologists</p>
				{% endif %}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<img src="catalog/view/theme/opencartforumcom/image/rectangle.png" class="rectangle-advantage">
				<img src="catalog/view/theme/opencartforumcom/image/Framead6.png" class="advantage-6">
				{% if current_lang == "uk-ua" %}
					<p class="text-advantage-6">Якісний врожай завдяки продукції із максимально збалансованим складом</p>
				{% endif %}
				{% if current_lang == "ru-ru" %}
					<p class="text-advantage-6">Качественный урожай благодаря продукции с максимально сбалансированным составом</p>
				{% endif %}
				{% if current_lang == "en-gb" %}
					<p class="text-advantage-6">High-quality harvest thanks to products with the most balanced composition</p>
				{% endif %}
			</div>
		</div>
</div>



