<div class="container production-block">
    <div>
        <div class="production-block-information">
            <div class="production-block-60">
                <div class="production-block-with-text">
                    <h2 class="product-text-block-h2-80 h2-80-title">
                        {% if current_lang == "uk-ua" %}WONDER - це масштабність{% endif %}
                        {% if current_lang == "ru-ru" %}WONDER - это масштабность{% endif %}
                        {% if current_lang == "en-gb" %}WONDER is scale{% endif %}
                    </h2>
                    <h4 class="product-text-block-h2-80">
                        {% if current_lang == "uk-ua" %}
                            Площа виробничо-складських приміщень компанії сягає 5 тис.
                            кв. метрів, потужність виробництва - понад 3 тис. тонн кристалічних та 10 тис. тонн рідких добрив на місяць.
                        {% endif %}
                        {% if current_lang == "ru-ru" %}
                            Площадь производственно-складских помещений компании
                            составляет 5 тыс. кв. метров, мощность производства - более 3 тыс. тонн кристаллических и 10 тыс. тонн жидких удобрений в месяц.
                        {% endif %}
                        {% if current_lang == "en-gb" %}
                            The area of production and storage facilities of the company reaches 5
                            thousand square meters, production capacity - more than 3 thousand tons of crystalline and 10 thousand tons of liquid fertilizers per month.
                        {% endif %}
                    </h4>
                </div>
            </div>
            <div class="production-block-with-img production-block-40 production-img-1"></div>
        </div>

        <div class="production-block-information">
            <div class="production-block-with-img production-block-40 production-img-2"></div>
            <div class="production-block-60">
                <div class="production-block-with-text">
                    <h2 class="product-text-block-h2-80 h2-80-title">
                        {% if current_lang == "uk-ua" %}WONDER - це про інновації{% endif %}
                        {% if current_lang == "ru-ru" %}WONDER - это об инновациях{% endif %}
                        {% if current_lang == "en-gb" %}WONDER is about innovation{% endif %}
                    </h2>
                    <h4 class="product-text-block-h2-80">
                        {% if current_lang == "uk-ua" %}
                            Передові технології виробництва та лабораторна перевірка забезпечують якість.
                        {% endif %}
                        {% if current_lang == "ru-ru" %}
                            Передовые технологии производства и лабораторная проверка обеспечивают качество.
                        {% endif %}
                        {% if current_lang == "en-gb" %}
                            Advanced production technologies and laboratory testing ensure quality.
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>

        <div class="production-block-information">
            <div class="production-block-60">
                <div class="production-block-with-text">
                    <h2 class="product-text-block-h2-80 h2-80-title">
                        {% if current_lang == "uk-ua" %}WONDER - це про потребу{% endif %}
                        {% if current_lang == "ru-ru" %}WONDER - это о необходимости{% endif %}
                        {% if current_lang == "en-gb" %}WONDER is about need{% endif %}
                    </h2>
                    <h4 class="product-text-block-h2-80">
                        {% if current_lang == "uk-ua" %}
                            Продукція створена із врахуванням особливостей культур і необхідних їм мікро- та макроелементів.
                        {% endif %}
                        {% if current_lang == "ru-ru" %}
                            Продукция создана с учетом особенностей культур и необходимых им микро- и макроэлементов.
                        {% endif %}
                        {% if current_lang == "en-gb" %}
                            Products are created taking into account features of cultures and micro- and macroelements necessary for them.
                        {% endif %}
                    </h4>
                </div>
            </div>
            <div class="production-block-with-img production-block-40 production-img-3"></div>
        </div>

        <div class="production-block-information">
            <div class="production-block-with-img production-block-40 production-img-4"></div>
            <div class="production-block-60">
                <div class="production-block-with-text">
                    <h2 class="product-text-block-h2-80 h2-80-title">
                        {% if current_lang == "uk-ua" %}WONDER - це про багатий врожай{% endif %}
                        {% if current_lang == "ru-ru" %}WONDER - это о богатом урожае{% endif %}
                        {% if current_lang == "en-gb" %}WONDER is about a rich harvest{% endif %}
                    </h2>
                    <h4 class="product-text-block-h2-80">
                        {% if current_lang == "uk-ua" %}
                            Компанія виготовляє добрива на основі передової сировини.
                        {% endif %}
                        {% if current_lang == "ru-ru" %}
                            Компания производит удобрения на основе передовой сырья.
                        {% endif %}
                        {% if current_lang == "en-gb" %}
                            The company produces fertilizers based on advanced raw materials.
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>



