<div class="container about-company-img-block production-top-img">

{#		<img src="image/catalog/production.png" class="production-top-img">#}

		{% if current_lang == "uk-ua" %}
			<h2 class="about-company-title">Виробництво</h2>
		{% endif %}
		{% if current_lang == "ru-ru" %}
			<h2 class="about-company-title">Производство</h2>
		{% endif %}
		{% if current_lang == "en-gb" %}
			<h2 class="about-company-title">Production</h2>
		{% endif %}

</div>



