<div class="container soil-audit-img-block">

{#	<img src="image/catalog/soil-audit.png" class="about-company-top-img">#}

	<h2 class="audit-soil-title">
		{% if current_lang == "uk-ua" %}Аудит ґрунту{% endif %}
		{% if current_lang == "ru-ru" %}Аудит почвы{% endif %}
		{% if current_lang == "en-gb" %}Soil audit{% endif %}
	</h2>


</div>



