<div class="container about-company-wonder-is-block">

{#	<img src="image/catalog/about-company-block-2.png" class="about-company-top-img">#}

	<h2 class="about-company-wonder-is-title">
		{% if current_lang == "uk-ua" %}Wonder - це:{% endif %}
		{% if current_lang == "ru-ru" %}Wonder - это:{% endif %}
		{% if current_lang == "en-gb" %}Wonder is:{% endif %}
	</h2>

	<div class="row wonder-is-block-85">
		<div class="col-sm-3 col-xs-3 wonder-is-col-sm-3">
			<div class="wonder-is-col-sm-3-img-block">
				<img src="image/catalog/handle.png" class="wonder-is-col-sm-3-img">
			</div>
			<h5 class="wonder-is-col-h5">
				{% if current_lang == "uk-ua" %}Завжди нові продукти{% endif %}
				{% if current_lang == "ru-ru" %}Всегда новые продукты{% endif %}
				{% if current_lang == "en-gb" %}Always new products{% endif %}
			</h5>
			<p class="wonder-is-col-sm-3-p">
				{% if current_lang == "uk-ua" %}Виготовляємо лише ті добрива, якими пишаємося. В основі продукції WONDER - якісна сировина від найкращих світових виробників. Ми враховуємо специфіку будь-яких ґрунтів, їхню потребу в макро- та мікроелементах.{% endif %}
				{% if current_lang == "ru-ru" %}Изготавливаем только те удобрения, которыми гордимся. В основе продукции WONDER - качественное сырье от лучших мировых производителей. Мы учитываем специфику любых почв, их потребность в макро- и микроэлементах.{% endif %}
				{% if current_lang == "en-gb" %}We make only those fertilizers that we are proud of. At the heart of WONDER products - quality raw materials from the world's best manufacturers. We take into account the specifics of any soil, their need for macro-and micronutrients.{% endif %}
			</p>
		</div>
		<div class="col-sm-3 col-xs-3 wonder-is-col-sm-3">
			<div class="wonder-is-col-sm-3-img-block">
				<img src="image/catalog/people.png" class="wonder-is-col-sm-3-img">
			</div>
			<h5 class="wonder-is-col-h5">
				{% if current_lang == "uk-ua" %}Команда професіоналів{% endif %}
				{% if current_lang == "ru-ru" %}Команда профессионалов{% endif %}
				{% if current_lang == "en-gb" %}A team of professionals{% endif %}
			</h5>
			<p class="wonder-is-col-sm-3-p">
				{% if current_lang == "uk-ua" %}Успіх компанії є результатом спільних дій кожного. Впродовж двох років ми формували команду фахівців, де працівник заряджений на позитив та зацікавлений у кінцевому результаті. Нам важливо, аби добриво було якісним, а клієнт - наш партнер, задоволеним.{% endif %}
				{% if current_lang == "ru-ru" %}Успех компании является результатом совместных действий каждого. В течение двух лет мы формировали команду специалистов, где работник заряжен на позитив и заинтересован в конечном результате. Нам важно, чтобы удобрение было качественным, а клиент - наш партнер, доволен.{% endif %}
				{% if current_lang == "en-gb" %}The success of the company is the result of joint actions of everyone. For two years we have formed a team of specialists, where the employee is positive and interested in the final result. It is important to us that the fertilizer is of the highest quality, and the customer who is our partner, absolutely satisfied.{% endif %}
			</p>
		</div>
		<div class="col-sm-3 col-xs-3 wonder-is-col-sm-3">
			<div class="wonder-is-col-sm-3-img-block">
				<img src="image/catalog/winner.png" class="wonder-is-col-sm-3-img">
			</div>
			<h5 class="wonder-is-col-h5">
				{% if current_lang == "uk-ua" %}Якісний врожай{% endif %}
				{% if current_lang == "ru-ru" %}Качественный урожай{% endif %}
				{% if current_lang == "en-gb" %}Quality harvest{% endif %}
			</h5>
			<p class="wonder-is-col-sm-3-p">
				{% if current_lang == "uk-ua" %}Продукція WONDER спрямована на підвищення якості врожаю: ретельно враховуємо особливості живлення тих чи інших культур, їхню потребу в макро- та мікроелементах на різних етапах вегетації.{% endif %}
				{% if current_lang == "ru-ru" %}Продукция WONDER направлена на повышение качества урожая: тщательно учитываем особенности питания тех или иных культур, их потребность в макро- и микроэлементах на разных этапах вегетации.{% endif %}
				{% if current_lang == "en-gb" %}WONDER products are aimed at improving the quality of the crop: we carefully take into account the peculiarities of nutrition of certain crops, their need for macro-and micronutrients at different stages of the growing season.{% endif %}
			</p>
		</div>
		<div class="col-sm-3 col-xs-3 wonder-is-col-sm-3">
			<div class="wonder-is-col-sm-3-img-block">
				<img src="image/catalog/award.png" class="wonder-is-col-sm-3-img">
			</div>
			<h5 class="wonder-is-col-h5">
				{% if current_lang == "uk-ua" %}Гарантія якості{% endif %}
				{% if current_lang == "ru-ru" %}Гарантия качества{% endif %}
				{% if current_lang == "en-gb" %}Quality guarantee{% endif %}
			</h5>
			<p class="wonder-is-col-sm-3-p">
				{% if current_lang == "uk-ua" %}Процес виробництва добрив автоматизований, а якість продукту підтверджується у сучасній лабораторії кваліфікованими технологами-хіміками.{% endif %}
				{% if current_lang == "ru-ru" %}Процес производства удобрений автоматизирован, а качество продукта подтверждается в современной лаборатории квалифицированными технологами-химиками.{% endif %}
				{% if current_lang == "en-gb" %}Fertilizer production process is automated, and the quality of the product is confirmed in a modern laboratory by qualified chemists.{% endif %}
			</p>
		</div>
	</div>

</div>



