<div class="container wonder-values-img-block">
	<div>

		{% if current_lang == "uk-ua" %}
			<img src="image/catalog/wonder-values-ua.jpg" class="wonder-values-img">
			<img src="image/catalog/wonder-values-max-600-ua.jpg" class="wonder-values-img-max-600">
		{% endif %}
		{% if current_lang == "ru-ru" %}
			<img src="image/catalog/wonder-values-ru.jpg" class="wonder-values-img">
			<img src="image/catalog/wonder-values-max-600-ru.jpg" class="wonder-values-img-max-600">
		{% endif %}
		{% if current_lang == "en-gb" %}
			<img src="image/catalog/wonder-values-en.jpg" class="wonder-values-img">
			<img src="image/catalog/wonder-values-max-600-en.jpg" class="wonder-values-img-max-600">
		{% endif %}

	</div>
</div>



